.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}

.success {
    background-color: #4caf50;
    /* Verde para sucesso */
}

.error {
    background-color: #f44336;
    /* Vermelho para erro */
}

.info {
    background-color: #2196f3;
    /* Azul para informações */
}